:root {
  text-align: center;
  font-family: sans-serif;
  user-select: none;
}

* {
  scrollbar-width: none !important;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* *::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  display: none;
  /* width: 5px; */
}

/* ::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.0);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85, 0.3);
} */


@font-face {
  font-family: 'roboto-regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'robotoslab';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'robotomono';
  src: url('/fonts/RobotoMono-Regular.ttf');
}