:root {
  text-align: center;
  font-family: sans-serif;
}

body {
  margin: 0;
}

:root::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'robotoslab';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf');
}